**/*.egg-info
**/__pycache__
desktop.ini
timeline_rendering.log
debug.log
*.log.*
EXTERNAL/LOGGING
.idea
.cursorindexingignore*
templating/uv_deps_switcher/backups/*pyproject.toml.bak
.cursor/rules/derived-cursor-rules.mdc
pypho_timeline/widgets/TimelineWindow/MainTimelineWindow - Copy.ui
pypho_timeline/widgets/TimelineWindow/rootwidget.ui
.vscode/groupbookmarks/backup
